.adduser {
    padding: 10px;
    box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.2), 0 0 8px 12px rgba(0, 0, 200, 0.8);
}
.outer-border {
    padding: 25px 260px;
    background: #f0f0f0;
}
.outer-user {
    padding: 150px 10px;
}
.card {
    align-items: center;
    padding: 10px 20px 10px 20px;
    display: column;
}
