.adduser {
    padding: 10px;
    box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.2), 0 0 8px 12px rgba(0, 0, 200, 0.8);
}
.outer-border {
    padding: 20px 15px 5px 260px;
}
.card {
    align-items: center;
    padding: 10px 20px 10px 20px;
    background-color: linear-gradient(to right, #dcdcef 0%, #3030f0 100%);
}
