p {
    font-size: 11pt;
    font-family: "Poppins", sans-serif;
    position: relative;
    padding: 1px;
}
body {
    max-height: 5000px;
    display: none;
}
.landing {
    padding: 30px;
    width: 100%;
    background: #f0f0ff;
}
.farm_image {
    width: 45%;
    height: 35%;
}
.lahan_pertanian {
    width: 500px;
    height: 375px;
    padding: 10px;
}
.border {
    background-color: white;
    padding: 5px;
    width: 100%;
}
.border_image {
    padding: 10px;
    background-color: whitesmoke;
}
.visi_misi {
    background-color: #7f7df0;
    padding: 10px 20px 10px 150px;
}
.visi {
    font-size: 12pt;
    font-weight: bold;
}
.misi {
    font-size: 12pt;
    font-weight: bold;
}
.form-authentication {
    background-color: rgba(32, 192, 250, 0.9);
    padding: 2px;
    height: 120px;
}
.main_menu {
    height: 100px;
    background-color: rgba(35, 45, 240, 0.85);
    padding: 2px;
}
.contact {
    padding: 3px;
    background-color: #cfcfe4;
}
li {
    padding: 1px;
}
.sosmed {
    width: 40px;
    height: 40px;
    padding-right: 5px;
    padding-bottom: 5px;
}
.profile {
    position: absolute;
    top: 10%;
    left: 25%;
    width: 850px;
    background: linear-gradient(to right, #bcbcef, #8a91f4);
}