body {
    max-height: 3000px;
    display: none;
}
.landing {
    padding: 1.2%;
    width: 100%;
    background: #f0f0ff;
}
.farm_image {
    width: 45%;
    height: 35%;
    opacity: 0.9;
    display: inline-flex;
}
.border {
    background-color: white;
    padding: 5px;
    width: 100%;
}
.border_image {
    background-color: whitesmoke;
    padding: 8px;
}
.main_menu {
    height: 100px;
    background-color: rgba(35, 45, 240, 0.85);
    padding: 2px;
}
.contact {
    padding: 3px;
    background-color: #cfcfe4;
}
.sosmed {
    width: 3%;
    height: 5%;
    padding-right: 0.5%;
    padding-bottom: 0.5%;
}