td {
    padding: 0.5%;
    max-width: 100%;
    min-width: 50%;
}
.name {
    width: 6.5%;
    font-size: 11pt;
}
.email {
    width: 38.5%;
    font-size: 11pt;
}
.isVerified {
    width: 15%;
    opacity: 0.88;
    font-size: 11pt;
}
.history {
    background: white;
    position: absolute;
    top: 45%;
}