td {
    padding: 5px;
    max-width: 100%;
    min-width: 50%;
}
.name {
    width: 500px;
}
.email {
    width: 500px;
}
.isVerified {
    width: 300px;
}
.history {
    background: white;
    position: absolute;
    top: 45%;
}